@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    background-image: 'url("students/25.jpg")',;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:orange !important;
}
.slick-prev {
  left: 10px !important;
  z-index: 1;
}